<%# Two-column section module + optional rail %>
<section class="suntimes-home__two-col-section mb-5"
         data-homepage-slot="suntimes-arts"
         data-suntimes-module="two-column-section"
         data-suntimes-module-slug="arts-culture">
  <div class="suntimes-home__section-accent">
    <h2 class="suntimes-home__section-title">Arts and Culture</h2>
  </div>
  <div class="row g-4 g-lg-5 align-items-start">
    <div class="col-12 col-lg-8">
      <%= render "shared/ui/suntimes/home/two_column_section_main", lead: @arts[:lead], stack: @arts[:stack] %>
    </div>
    <div class="col-12 col-lg-4">
      <article class="suntimes-home__divider">
        <span class="suntimes-home__category"><%= @arts[:rail][:section] %></span>
        <h3 class="suntimes-home__headline-xl mt-2 mb-2">
          <%= link_to @arts[:rail][:title], @story_href, class: "suntimes-home__headline-link" %>
        </h3>
        <p class="suntimes-home__meta suntimes-home__meta-rail-dek mb-2"><%= @arts[:rail][:dek] %></p>
        <%= render "shared/ui/suntimes/home/story_meta", item: @arts[:rail], extra_classes: "mb-0 small" %>
      </article>
    </div>
  </div>
</section>
