<%# Commentary band + columnist grid %>
<section class="suntimes-home__commentary-band mb-5" data-homepage-slot="suntimes-commentary">
  <div class="row g-4 g-lg-5 align-items-start">
    <div class="col-12 col-lg-3">
      <h2 class="suntimes-home__rail-title mb-3"><%= @commentary[:title] %></h2>
      <p class="suntimes-home__commentary-intro mb-4"><%= @commentary[:intro] %></p>
      <%= link_to "Read More", @commentary[:read_more_href], class: "small fw-bold text-uppercase text-decoration-none link-dark" %>
    </div>
    <div class="col-12 col-lg-9">
      <div class="row g-4 g-lg-5">
        <% @commentary[:columnists].each do |c| %>
          <div class="col-6 col-md-3 text-center text-md-start">
            <%= render "shared/ui/suntimes/placeholder_rect", variant: :circle, extra_classes: "suntimes-home__columnist-photo mx-auto mb-3 d-block" %>
            <span class="suntimes-home__category mb-1"><%= c[:name] %></span>
            <h4 class="suntimes-home__headline-md mt-1">
              <%= link_to c[:title], @story_href, class: "suntimes-home__headline-link" %>
            </h4>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
