<%# Sun-Times homepage hero: left stack | center lead + sub | latest rail %>
<section class="mb-5 suntimes-home__hero" data-homepage-slot="suntimes-hero">
  <%# No gy-* on this row: vertical gutter adds margin-top on .row > * and sinks the center column. %>
  <div class="row gx-4 gx-lg-5 suntimes-home__hero-grid">
    <div class="col-12 col-lg-2 mb-4 mb-lg-0 suntimes-home__hero-left">
      <% @hero_left.each do |story| %>
        <article class="<%= story[:divider] == false ? "mb-0" : "suntimes-home__divider" %>">
          <%= render "shared/ui/suntimes/placeholder_rect", extra_classes: "suntimes-home__ratio-3-2 mb-3 rounded-0" %>
          <span class="suntimes-home__category"><%= story[:section] %></span>
          <h3 class="suntimes-home__headline-md mt-1 mb-2">
            <%= link_to story[:title], @story_href, class: "suntimes-home__headline-link" %>
          </h3>
          <%= render "shared/ui/suntimes/home/story_meta", item: story, extra_classes: "mb-1" %>
        </article>
      <% end %>
    </div>

    <div class="col-12 col-lg-7 mb-4 mb-lg-0 suntimes-home__hero-center">
      <article>
        <%= render "shared/ui/suntimes/placeholder_rect", extra_classes: "suntimes-home__ratio-16-11 mb-4 rounded-0" %>
        <span class="suntimes-home__category"><%= @hero_center_lead[:section] %></span>
        <h2 class="suntimes-home__headline-xl mt-2 mb-3">
          <%= link_to @hero_center_lead[:title], @story_href, class: "suntimes-home__headline-link" %>
        </h2>
        <p class="suntimes-home__meta suntimes-home__meta-lede mb-3"><%= @hero_center_lead[:dek] %></p>
        <%= render "shared/ui/suntimes/home/story_meta", item: @hero_center_lead, extra_classes: "mb-0" %>
      </article>

      <div class="row mt-4 suntimes-home__hero-center-sub">
        <% @hero_center_sub.each do |story| %>
          <div class="col-12 suntimes-home__hero-sub-item">
            <article class="d-flex gap-3">
              <%= render "shared/ui/suntimes/placeholder_rect", extra_classes: "suntimes-home__thumb rounded-0" %>
              <div>
                <span class="suntimes-home__category"><%= story[:section] %></span>
                <h4 class="suntimes-home__headline-md mt-1 mb-1">
                  <%= link_to story[:title], @story_href, class: "suntimes-home__headline-link" %>
                </h4>
                <%= render "shared/ui/suntimes/home/story_meta", item: story, extra_classes: "mb-0 small" %>
              </div>
            </article>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-3 ps-lg-4 suntimes-home__rail-border suntimes-home__hero-rail">
      <h2 class="suntimes-home__rail-title mb-4">The Latest</h2>
      <div class="vstack gap-0">
        <% @latest_rail_items.each do |item| %>
          <article class="suntimes-home__rail-item">
            <span class="suntimes-home__category"><%= item[:section] %></span>
            <h4 class="suntimes-home__headline-md mt-1 mb-1">
              <%= link_to item[:title], @story_href, class: "suntimes-home__headline-link" %>
            </h4>
            <%= render "shared/ui/suntimes/home/story_meta", item: item, extra_classes: "mb-0 small" %>
          </article>
        <% end %>
        <%= link_to "More stories", @story_href, class: "btn suntimes-home__btn-more text-decoration-none mt-4" %>

        <div class="mt-4 pt-4 border-top d-flex gap-3 suntimes-home__rule">
          <div class="flex-grow-1">
            <h4 class="suntimes-home__headline-md mb-1"><%= @latest_crossword[:title] %></h4>
            <p class="suntimes-home__meta mb-0 small"><%= @latest_crossword[:dek] %></p>
          </div>
          <%= render "shared/ui/suntimes/placeholder_rect", extra_classes: "flex-shrink-0 rounded-0 suntimes-home__crossword-thumb" %>
        </div>
      </div>
    </div>
  </div>
</section>
