<%# Two-column section module + optional rail %>
<section class="suntimes-home__two-col-section mb-5"
         data-homepage-slot="suntimes-sports"
         data-suntimes-module="two-column-section"
         data-suntimes-module-slug="sports">
  <div class="suntimes-home__section-accent">
    <h2 class="suntimes-home__section-title">Sports</h2>
  </div>
  <div class="row g-4 g-lg-5 align-items-start">
    <div class="col-12 col-lg-8">
      <%= render "shared/ui/suntimes/home/two_column_section_main", lead: @sports[:lead], stack: @sports[:stack] %>
    </div>
    <div class="col-12 col-lg-4">
      <article class="suntimes-home__divider">
        <span class="suntimes-home__category"><%= @sports[:rail][:section] %></span>
        <h3 class="suntimes-home__headline-xl mt-2 mb-2">
          <%= link_to @sports[:rail][:title], @story_href, class: "suntimes-home__headline-link" %>
        </h3>
        <p class="suntimes-home__meta suntimes-home__meta-rail-dek mb-2"><%= @sports[:rail][:dek] %></p>
        <%= render "shared/ui/suntimes/home/story_meta", item: @sports[:rail], extra_classes: "mb-0 small" %>
      </article>
    </div>
  </div>
</section>
