<footer class="footer-dark py-5 mt-5">
  <div class="content-shell px-3">
    <div class="row gy-4">
      <div class="col-lg-4">
        <%= render "shared/ui/brand_lockup", style: "max-height: 34px;" %>
        <p class="mt-3 text-white-50">Chicago Public Media serves the public through WBEZ and the Chicago Sun-Times.</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <h6 class="text-uppercase">Sections</h6>
        <ul class="list-unstyled text-white-50">
          <li>Latest News</li>
          <li>Curious City</li>
          <li>Arts & Culture</li>
          <li>Politics</li>
          <li><%= link_to "Home Demo", "/demo/home", class: "text-white-50 text-decoration-none" %></li>
          <li><%= link_to "Article Demo", "/demo/article", class: "text-white-50 text-decoration-none" %></li>
          <li><%= link_to "Cookbook Demo", "/demo/cookbook", class: "text-white-50 text-decoration-none" %></li>
          <li><%= link_to "Logos Demo", "/demo/logos", class: "text-white-50 text-decoration-none" %></li>
          <li><%= link_to "Icons Demo", "/demo/icons", class: "text-white-50 text-decoration-none" %></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-4">
        <h6 class="text-uppercase">Support</h6>
        <p class="text-white-50">Donate, listen live, and subscribe to newsletters.</p>
      </div>
    </div>
  </div>
</footer>
